[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
ipdb = "*"
mypy = "*"
flake8 = "*"
black = "*"
isort = "*"
twine = "*"
setuptools = "*"
wheel = "*"
pytest = "*"
pytest-django = "*"
pytest-cov = "*"
pytest-xdist = "*"
pytest-sugar = "*"
wand = "*"

[packages]

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
